<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="123"
	android:versionName="2.08_reiryuki"
	android:compileSdkVersion="23"
	android:compileSdkVersionCodename="6.0-2438415"
	package="com.difftool"
	platformBuildVersionCode="23"
	platformBuildVersionName="6.0-2438415"
	>
	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="29"
		>
	</uses-sdk>
	<supports-screens
		android:anyDensity="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		>
	</supports-screens>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_MEDIA_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_MEDIA_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_ALL_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_SUPERUSER"
		>
	</uses-permission>
	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false"
		>
	</uses-feature>
	<application
		android:label="@7F09008F"
		android:icon="@7F02000F"
		android:usesNonSdkApi="true"
		android:requestLegacyExternalStorage="true"
		android:preserveLegacyExternalStorage="true"
		android:requestRawExternalStorageAccess="true"
		>
		<activity
			android:label="@7F09008F"
			android:name="com.n0n3m4.droidsdl.SDL4droidMain"
			android:clearTaskOnLaunch="false"
			android:screenOrientation="4"
			android:configChanges="0x000004B0"
			android:windowSoftInputMode="0x00000010"
			>
		</activity>
		<activity
			android:name="libSDL.jni.SDLPrefs"
			android:configChanges="0x000004B0"
			>
		</activity>
		<activity
			android:label="@7F09008F"
			android:name="org.libsdl.app.SDLActivity"
			android:configChanges="0x000004B0"
			android:hardwareAccelerated="true"
			>
		</activity>
		<activity
			android:label="@7F09008F"
			android:name="com.n0n3m4.droidsdl.NativeActDummy"
			android:configChanges="0x000004B0"
			>
			<meta-data
				android:name="android.app.lib_name"
				android:value="application"
				>
			</meta-data>
		</activity>
		<activity
			android:label="@7F09008F"
			android:name="com.n0n3m4.droidsdl.SAFActDummy"
			android:configChanges="0x000004B0"
			>
			<meta-data
				android:name="android.app.lib_name"
				android:value="application"
				>
			</meta-data>
		</activity>
		<activity
			android:name="org.liballeg.android.AllegroActivity"
			android:configChanges="0x00000780"
			>
		</activity>
		<activity
			android:name="org.qtproject.qt5.android.bindings.QtActivity"
			android:screenOrientation="-1"
			android:configChanges="0x40002FF4"
			>
			<meta-data
				android:name="android.app.use_local_qt_libs"
				android:value="1"
				>
			</meta-data>
			<meta-data
				android:name="android.app.background_running"
				android:value="false"
				>
			</meta-data>
			<meta-data
				android:name="android.app.auto_screen_scale_factor"
				android:value="false"
				>
			</meta-data>
			<meta-data
				android:name="android.app.extract_android_style"
				android:value="full"
				>
			</meta-data>
			<meta-data
				android:name="android.app.n0n3m4_qt_libs"
				android:resource="@7F090094"
				>
			</meta-data>
		</activity>
		<activity
			android:theme="@7F0D0004"
			android:label="@7F09008F"
			android:name="com.n0n3m4.apkexport.ExportActivity"
			>
			<meta-data
				android:name="android.app.mode"
				android:value="@7F090093"
				>
			</meta-data>
			<intent-filter
				>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
				<category
					android:name="android.intent.category.MULTIWINDOW_LAUNCHER"
					>
				</category>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
			</intent-filter>
		</activity>
		<activity
			android:label="Terminal Emulator"
			android:name="jackpal.androidterm.Term"
			android:configChanges="0x000004B0"
			android:windowSoftInputMode="0x00000014"
			>
		</activity>
		<activity
			android:label="Terminal Emulator"
			android:name="jackpal.androidterm.TermPreferences"
			android:configChanges="0x000004B0"
			>
		</activity>
		<activity
			android:theme="@01030055"
			android:label="@7F09008F"
			android:name="com.n0n3m4.apkexport.TermActivity"
			>
		</activity>
		<uses-library
			android:name="com.sec.android.app.multiwindow"
			android:required="false"
			>
		</uses-library>
		<meta-data
			android:name="com.sec.android.support.multiwindow"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
			android:value="632.0dip"
			>
		</meta-data>
		<meta-data
			android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
			android:value="598.0dip"
			>
		</meta-data>
		<meta-data
			android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
			android:value="632.0dip"
			>
		</meta-data>
		<meta-data
			android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
			android:value="598.0dip"
			>
		</meta-data>
	</application>
</manifest>
